.fields

 .project_title
  = f.label :title
  = f.text_field :title

 .project_description
  = f.label :description
  = f.text_area :description

 .project_videos
  = f.fields_for :videos do |video_form|
   = render :partial => 'video_fields', :locals => {:f => video_form}
  = f.link_to_add 'Add a video', :videos

 .project_pictures
  = f.fields_for :pictures do |picture_form|
   = render :partial => 'picture_fields', :locals => {:f => picture_form}
  = f.link_to_add 'Add another picture', :pictures

 .project_save
  = f.submit :save

 .delete_project
  = link_to 'Delete project', destroy_project_path(@project), :confirm => 'Are you sure?', :method => :destroy
// .project_tools
//  = f.select :tools, Tool.all

//= link_to_remove_fields "remove", f