-i=1
-@projects.each do |p|
 -i=i*2
 .edit
  = link_to "edit", edit_project_path(p.id)
 .row
  %div{:class => 'small-'+i.to_s+' columns'}
   .project{:id => "#{p.id}"}
    .project_title
     = p.title
     -if !p.videos.first.nil?
      %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/#{p.videos.first.link}", :title => "YouTube video player", :width => "640"}
    .project_description
     = p.description

