%html
 %head
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "vendor/custom.modernizr"
  = javascript_include_tag "application"
  =# javascript_include_tag :defaults, "jquery_nested_form"
  = csrf_meta_tags
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
  %title
   = content_for?(:title) ? yield(:title) : "qrtr"
%body
 .fixed
  %nav{:class=>'top-bar'}
   %ul{:class=>'title-area'}
    %li{:class=>'name'}
     %h1
      = link_to("Qrtr", root_path)
%section{:role=>'main'}
 .row.wrapper
  = yield
